version: 2

updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        applies-to: version-updates
        patterns:
          - "*"
      all-security:
        applies-to: security-updates
        patterns:
          - "*"
    labels:
      - dependencies
      - automated

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        applies-to: version-updates
        patterns:
          - "*"
      all-security:
        applies-to: security-updates
        patterns:
          - "*"
    labels:
      - dependencies
      - automated

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
    groups:
      all-actions:
        patterns:
          - "*"
    labels:
      - ci
      - automated
