<div class="powered-by-footer">
  <div class="powered-by-container">
    <p class="powered-by-text">
      Powered by <%= link_to "Curated.cx", curated_main_url, 
                            class: "powered-by-link", 
                            target: "_blank", 
                            rel: "noopener" %>
    </p>
  </div>
</div>